<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/static/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container col-md-3 col-sm-4">
    <div class="row align-items-center">
        <div class="col align-self-center">
            <h1 class="bd-title "> BMI Calculator</h1>
            <form method="post">
                <table class="table">
                    {% if bmi %}
                    <tr>
                        <td>{{ bmi_preview }}</td>
                    </tr>
                    <tr>
                        <td>
                            {% if bmi > 28 %}
                            <div class="alert alert-danger" role="alert"> Obese</div>
                            {% elif bmi > 24 %}
                            <div class="alert alert-warning" role="alert"> Overweight</div>
                            {% elif bmi > 19 %}
                            <div class="alert alert-success" role="alert"> Normal</div>
                            {% else %}
                            <p style="color:orange">Under-weight</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td><input placeholder="Weight" class="col-sm" name="w"></td>
                    </tr>
                    <tr>
                        <td><input placeholder="Height" class="col-sm" name="h"></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-primary col-sm" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>